@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    scroll-behavior: smooth;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #474747;
    border-radius: 1px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 1px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

@layer base {
    body {
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold
    }
    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl
    }
    li {
        @apply cursor-pointer
    }
    button {
        @apply shadow-lg shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#115e59] to-[#5eead4]
    }
}